<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>Add user</h2>

    <form method="post" action="/user">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="email" name="email" placeholder="Enter you email">
        <button>Submit</button>
    </form>
</body>
</html>